* {
  font-family: 'Courier', monospace;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#background {
  position: fixed;
  background-color: Linen;
  padding: 0px, 0px, 0px, 0px;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#content {
  color: black;
  position: fixed;
  border: 2px solid red;
  /* background-color: Linen; */
  padding: 16px 16px 16px 16px;
  z-index: 1;
}

.menuButton {
  display: block;
}

button:focus, a:focus {
  outline: 0;
}

a {
  color: black;
  text-decoration: underline;
}
