* {
  font-family: 'Helvetica', sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          animation-delay: 0.1s;
          transition: all 0.4s;
}

@font-face {
    font-family: Minion;
    src: url(MinionPro-Regular.otf);
}

::selection {
  color: rgb(246, 224, 214);
  background: black; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: rgb(246, 224, 214);
  background: black; /* Gecko Browsers */
}

#background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(246, 224, 214);
  padding: 0px, 0px, 0px, 0px;
}

#day {
  z-index: 1;
  border-radius: 50%;
  border: 1px solid red;
  width: 80vmin;
  height: 80vmin;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  position: fixed;
  text-align: center;
  padding: 40px;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

button:focus, a:focus {
  outline: 0;
}

a {
  color: black;
  transition: all 0.4s;
  text-decoration: none;
}

a:hover {
  transition: all 0.4s;
  text-shadow: 0px 0px 2px black;
}

.anchor {
  position: fixed;
  text-align: center;
  padding: 0px 0px 0px 0px;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  z-index: 2;
  font-size: 1.5vmin;
  height: 4.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#header {
  top: 0px;
}

#footer {
  bottom: 0px;
}

#emailButton {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.menuButton {
  transition: all 0.4s;
  font-family: Minion;
  font-size: 6vmin;
  text-align: center;
  display: block;
}

.menuButton:hover {
  transition: all 0.4s;
  text-shadow: 0px 0px 3px black;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: tan;
}

.solar-syst {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}
.solar-syst:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  top: -2px;
  border-radius: 100px;
}
.solar-syst div {
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
}
.solar-syst div:not(.sun) {
  border: 1px solid red;
}
.solar-syst div:not(.sun):before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}

.earth {
  height: 145px;
  width: 145px;
  margin-top: -72.5px;
  margin-left: -72.5px;
  -webkit-animation: orb 360s linear infinite;
          animation: orb 360s linear infinite;
}
.earth:before {
  height: 6px;
  width: 6px;
  background: black;
  margin-top: -3px;
  margin-left: -3px;
}
.earth:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 50%;
  top: 0px;
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 100px;
  box-shadow: 0 -10px 0 -8px black;
  -webkit-animation: orb 26.9284225898s linear infinite;
          animation: orb 26.9284225898s linear infinite;
}

@-webkit-keyframes orb {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes orb {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
