* {
  font-family: 'Helvetica', sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#background {
  position: fixed;
  background-color: Bisque;
  padding: 0px, 0px, 0px, 0px;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;.
  z-index: 0;
}

#content {
  color: black;
  position: fixed;
  text-align: center;
  padding: 40px 40px 40px 40px;
  z-index: 1;
}

button:focus, a:focus {
  outline: 0;
}

a {
  color: black;
  transition: all 0.6s;
  text-decoration: underline;
}

a:hover {
  transition: all 0.6s;
  text-shadow: 0px 0px 3px black;
}

.anchor {
  position: fixed;
  text-align: center;
  padding: 0px 0px 0px 0px;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  z-index: 2;
  font-size: 14px;
}

#header {
  top: 0px;
  height: 40px;
}

#footer {
  bottom: 0px;
  height: 28px;
}

#emailButton {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.menuButton {
  text-align: center;
  display: block;
}
