* {
  font-family: 'Arimo', sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          animation-delay: 0.1s;
          transition: all 0.6s;
}
::selection {
  color: rgb(255,255,255);
  background: black;
}
::-moz-selection {
  color: rgb(255,255,255);
  background: black;
}

body {
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-points-y: repeat(100ch);
  scroll-snap-points-x: repeat(100%);
  /* scroll-snap-destination: 50% 50%; */
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
 margin: 0px;
 padding: 0px;
 overflow-x: auto;
 background: #E8DDDC;
 /* background-image: linear-gradient(white, AliceBlue); */
}

a { text-decoration: none; color: black; font-family: 'Changa', sans-serif; font-size: 1.075em; letter-spacing:-0.02em; }
a:hover { font-style: italic; }

h3 {
  font-size:32px;
  margin: 0px;
  padding: 0px;
  line-height: 0.8em;
}
h4 {
  font-family: 'Changa', sans-serif;
  font-size: 32px;
  margin: 0px;
  padding: 0px;
  line-height: 0.8em;
  padding-bottom: 1em;
  font-weight:300;
}

.nav {
  z-index: 1000;
  position: fixed;
  left: 20px;
  top: 20px;
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
}

.nav div {
  margin: 4px;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  font-size: 12px;
}

.nav div:hover {
  background: black;
}

.nav div p {
  width: 96px;
  position: relative;
  top: -18px;
  left: 20px;
  font-size: 14.5px;
}

.nav .active {
  transition: background 0s;
  background: black;
}

#header {
  padding: 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#headertext {
  text-align: center;
  font-size: 24px;
  line-height: 1.2em;
  margin: auto;
  width: 100%;
  padding: 0px;
}

.view {
  height: 100vh;
  width: 860px;
  margin: auto;
  display: flex;
  align-items: center;
}

.item {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.prev, .next {
  z-index: 0;
  color: red;
  cursor: pointer;
  color: black;
  font-size: 28px;
  position: absolute;
  bottom: -28px;
  width: 20px;
  height: 20px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.prev {
  text-align: left;
  left: calc(40% - 12px);
}

.next {
  text-align: right;
  right: calc(40% + 12px);
}

.footer {
  text-align: center;
}

.graphics img {
  width: calc(100% - 12px);
  overflow: hidden;
}

.graphics, .description {
  width: 50%;
  position: relative;
}

.description {
  display: flex;
  align-items: flex-start;
  text-align: left;
  padding-left: 12px;
  flex-direction: column;
}

.description h3 {
  line-height: 0.74em;
  font-size: 36px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 0.5em;
}

.description p {
  line-height: 1.2em;
}

@media only screen and (max-width: 980px) {
  .item {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .view {
    max-width: 280px;
    margin: auto;
    align-items: flex-start;
  }
  #view1 {
    align-items: center;
  }
  .graphics img {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: block;
  }
  .graphics {
    margin-top: 24px;
    align-content: center;
    margin-bottom: 36px;
  }
  .graphics, .description {
    padding: 0px;
    width: 100%;
  }
  .description p {
    margin-top: 0px;
    font-size: 11px;
  }
  #headertext {
    margin-top: 16px;
    width: 70%;
    text-align: center;
    font-size: 14px;
    line-height: 1.2em;
    padding: 0px;
  }
  .description h3 {
    font-size: 24px;
  }
  h4 {
    margin-top: -6px;
    padding-top: 0px;
    font-size: 18px;
  }
  .prev, .next {
    bottom: -18px;
  }
}
