* {
  font-family: 'Arimo', sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          animation-delay: 0.1s;
          transition: all 0.6s;
}
::selection {
  color: rgb(255,255,255);
  background: black;
}
::-moz-selection {
  color: rgb(255,255,255);
  background: black;
}

body {
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-points-y: repeat(100ch);
  scroll-snap-points-x: repeat(100%);
  scroll-snap-destination: 50% 50%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
 margin: 0px;
 padding: 0px;
 overflow-x: auto;
 background: #cccccc;
 /* rgba(0,0,0,0.35); */
}

.dot {
  height: 700px;
  width: 700px;
  border-radius: 50%;
  position: fixed;
  opacity: 0.15;
  filter: blur(400px);
}

.dot.blue {
  background-color: blue;
  right:0px;
  top:-20px;
}

.dot.blue-small {
  background-color: blue;
  right:0px;
  top:-20px;
  height: 400px;
  width: 300px;
}

.dot.light-small {
  background-color: #F2F6E8;
  right:0px;
  top:-20px;
  height: 300px;
  width: 500px;
}

.dot.light {
  background-color: #F2F6E8;
  right:0px;
  bottom:-20px;
}
.dot.orange {
  background-color: #ff4500;
  right:30%;
  bottom:40%;
  width: 800px;
  height: 1100px;
}
.dot.orange-small {
  background-color: #ff4500;
  right:10%;
  bottom:70%;
  height: 300px;
  width: 500px;
}

a {
  text-decoration: none;
  color: black;
  font-family:
  'Changa', sans-serif;
  font-size: 1.075em;
  letter-spacing:-0.02em;
  display: inline !important;
}
a:hover { font-style: italic; }

h3 {
  font-size:32px;
  margin: 0px;
  padding: 0px;
  line-height: 1em;
}

h4 {
  font-family: 'Changa', sans-serif;
  font-size: 32px;
  margin: 0px;
  padding: 0px;
  line-height: 1em;
  padding-bottom: 1em;
  font-weight:300;
}

.nav {
  z-index: 1000;
  position: fixed;
  left: 20px;
  top: 20px;
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
}

.nav div {
  margin: 4px;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  font-size: 12px;
}

.nav div:hover {
  background: black;
}

.nav div p {
  width: 72px;
  display: inline-block;
  width: auto;
  position: relative;
  top: -18px;
  left: 20px;
  font-size: 14.5px;
}

.nav .active {
  transition: background 0s;
  background: black;
}

#header {
  padding: 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: none !important;
  -moz-box-shadow:    none !important;
  -webkit-box-shadow: none !important;
  box-shadow:         none !important;
}

#headertext {
  text-align: center;
  font-size: 24px;
  line-height: 1.2em;
  margin: auto;
  width: 100%;
  padding: 0px;
}

.view {
  height: 100vh;
  width: 760px;
  /* max-width: calc(min(960px, 100vw - 288px)); */
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item.wide {
  flex-direction: column !important;
}

.graphics.wide, .description.wide {
  padding: 0px;
  width: 100%;
}

.prev, .next {
  z-index: 0;
  color: red;
  cursor: pointer;
  color: black;
  font-size: 28px;
  position: absolute;
  bottom: -28px;
  width: 20px;
  height: 20px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.prev {
  text-align: left;
  left: calc(40% - 12px);
}

.next {
  text-align: right;
  right: calc(40% + 12px);
}

.footer {
  text-align: center;
}

.graphics, .description {
  width: 50%;
}

.graphics img {
  width: calc(100%);
  overflow: hidden;
}

.description {
  background: rgba(255,255,255,0.3);
  -moz-box-shadow:    inset 0 0 28px rgba(255,255,255,0.5);
  -webkit-box-shadow: inset 0 0 28px rgba(255,255,255,0.5);
  box-shadow:         inset 0 0 28px rgba(255,255,255,0.5);
  display: flex;
  flex-direction: column;
  justify-content: column;
  align-items: flex-start;
  text-align: left;
  padding: 18px !important;
  overflow: hidden;
}

.description h3 {
  line-height: 1em;
  font-size: 36px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 0.5em;
}

.description p {
  line-height: 1.2em;
  margin: 0px;
}

@media only screen and (max-width: 900px) {
  .view {
    width: calc(100vh*0.4);
    height: calc(100vh - 48px);
    /* width: calc(max(260px, 100vw - 192px)); */
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .item {
    /* height: calc(100vh - 48px); */
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .graphics img {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: block;
  }
  .graphics {
    align-content: center;
  }
  .graphics, .description {
    padding: 0px;
    width: 100%;
  }
  .description p {
    margin: 0px;
    font-size: 1.3vh;
    overflow: scroll;
  }
  #headertext {
    margin-top: 16px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1.2em;
    padding: 0px;
  }
  .description h3 {
    font-size: 24px;
    line-height: 1em;
  }
  h4 {
    margin-top: -6px;
    padding-top: 0px;
    font-size: 18px;
  }
  .prev, .next {
    /* bottom: -18px; */
    display: none;
  }
}
